<div class="jumbotron">
    <h1>Login App</h1>
    <p class="lead">A login app using Node, Express, MongoDB, Handlebars and of course, Bootstrap.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
</div>

<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard.</p>